textarea {
    min-height: 400px;
}

p {
    margin-bottom: 5px;
}

.emailRow {
    min-width: 600px;
    flex-wrap: nowrap;
    background-color: white;
    padding: 10px 0px;
    border-style: solid;
    border-width: thin;
    border-radius: 5px;
    border-color: darkslategray;
    display: flex;
    width:100%;
}

.emailContentCol {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 600px;
    min-width: 50%;
    padding: 0px 15px;
    text-align: start;

}
